# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
app/__pycache__/
app/db/__pycache__/
services/__pycache__/


# Environment files (VERY IMPORTANT)
.env

# AI/RAG temporary storage
my_chroma_db/
chroma/
vectorstore/
*.bin
*.pickle
*.pkl

# Editor/OS files
.DS_Store
.vscode/
.idea/

# Build artifacts
build/
dist/
*.db

# Logs
*.log
