#FastApi requirements
fastapi
uvicorn

#Data validation
pydantic

#Environment variable management
python-dotenv

#google gemini (PaLM) Integration
langchain-google-genai
google-generativeai
langchain-community

#cohere models
langchain_cohere

#Langchain core
langchain
langchain-core

#for pdf text extraction
pyPDF2

#vector
chromadb

#PostgreSQL
psycopg2-binary
SQLAlchemy

#authentication
python-jose[cryptography]
passlib[bcrypt]
python-multipart